.testmonialSection {
	display: flex;
	justify-content: center;
	padding: 70px 0px;
}

.testimonal {
	display: flex;
	justify-content: center;
}

.testimonal .items {
	padding: 30px;
	transition: 0.5s;
}

.testimonal .img {
	position: relative;
}

.testimonal img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.testimonal i {
	position: absolute;
	bottom: 0;
	left: 60px;
	background-color: #6c63ff;
	color: #fff;
}

.testimonal .name {
	margin: 25px;
}

.testimonal .name h2 {
	font-size: 20px;
	margin-bottom: 5px;
}

.testimonal .name span {
	color: #6c63ff;
}

.testimonal p {
	margin-top: 20px;
	color: grey;
	transition: 0.5s;
}

.testimonal .items:hover {
	background-color: #6c63ff;
	color: #fff;
	cursor: pointer;
}

.testimonal .items:hover span,
.testimonal .items:hover p {
	color: #fff;
}

.testimonal .items:hover i {
	background-color: #fff;
	color: #6c63ff;
}

.swiper {
	width: 100%;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #f8f8f8;

	/* Center slide text vertically */
	display: flex;
	justify-content: center;
	align-items: center;
}

.swiper-slide img {
	width: 100px;
	height: 100px;
	object-fit: cover;
	border-radius: 50%;
}

.autoplay-progress {
	position: absolute;
	right: 16px;
	bottom: 16px;
	z-index: 10;
	width: 48px;
	height: 48px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	color: var(--swiper-theme-color);
}

.autoplay-progress svg {
	--progress: 0;
	position: absolute;
	left: 0;
	top: 0px;
	z-index: 10;
	width: 100%;
	height: 100%;
	stroke-width: 4px;
	stroke: var(--swiper-theme-color);
	fill: none;
	stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
	stroke-dasharray: 125.6;
	transform: rotate(-90deg);
}

.mySwiper {
	width: 100%;
	max-width: 55rem;
	z-index: 0;
}

.swiper-button-next,
.swiper-button-prev {
	display: none;
}

.test-items {
	background: #f8f8f8;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 70px 80px;
}

p {
	margin-top: 20px;
}

#heading {
	padding-top: 40px;
	padding-bottom: 0px;
}

@media screen and (max-width: 426px) {
	.testmonialSection {
		padding: 50px 0px 100px;
	}

	.test-items {
		padding: 65px 30px;
	}
}

@media screen and (max-width: 376px) {
	.test-items {
		padding: 60px 20px;
	}
}
