.hero {
	background-image: url('../../../../images/bgr.png');
	background-size: cover;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}

.hero #heading h3 {
	color: #fff;
}

.hero #heading {
	text-align: left;
	margin: 0;
	padding: 0;
}

@media screen and (max-width: 768px) {
	.margin {
		height: 40vh;
	}

	/* .hero {
		background-position: right;
		padding-top: 50%;
		height: 80vh;
	} */

	.hero .row {
		width: 100%;
		max-width: 35rem;
		margin-bottom: 2rem;
	}
}