.aboutHome {
	height: auto;
	display: flex;
	justify-content: center;
}

.aboutHome #heading {
	text-align: left;
	padding: 0;
}

.aboutHome .left img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.aboutHome .right {
	padding: 70px 50px;
}

.aboutHome .items {
	margin-top: 50px;
}

.aboutHome .item {
	background-color: #fff;
	margin-top: 30px;
	padding: 20px;
	transition: 0.5s;
}

.aboutHome .img {
	width: 200px;
}

.aboutHome img {
	width: 70px;
	height: 70px;
}

.aboutHome .item h2 {
	font-size: 20px;
	margin-bottom: 15px;
}

.aboutHome .item p {
	color: #999999;
}

.aboutHome .item:hover {
	background-color: #6c63ff;
	color: #fff;
	cursor: pointer;
	box-shadow: 0 5px 25px -2px rgb(0 0 0 / 6%);
}

.aboutHome .item:hover p {
	color: #fff;
}

/*--------------faq-------------*/
.faq .container {
	max-width: 70%;
	border-radius: 5px;
}

.faq .box {
	background-color: #fff;
	margin-bottom: 20px;
}

.faq button {
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 15px 20px;
}

.faq h2 {
	font-weight: 500;
}

.faq p {
	padding: 20px;
}

.faq .accordion:hover {
	background-color: #6c63ff;
	color: #fff;
}

.faq {
	display: flex;
	justify-content: center;
	padding-bottom: 90px;
}

/*----------awrapper------------*/
.awrapper {
	background-image: url('../../../images/awrapper.webp');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 15rem;
	color: #fff;
	display: flex;
}

.awrapper .box {
	/* padding: 70px 0; */
}

.awrapper img {
	margin-right: 30px;
}

.awrapper h1 {
	font-size: 50px;
}

.awrapper h3 {
	font-size: 20px;
	font-weight: 500;
}

/*----------awrapper------------*/
@media screen and (max-width: 768px) {
	.aboutHome .container {
		flex-direction: column-reverse;
	}

	/* .aboutHome .row {
		width: 100%;
	} */

	.aboutHome .flexSB .left {
		display: none;
	}

	.aboutHome .flexSB .row {
		margin-top: 0px;
		width: 100%;
	}

	.aboutHome .right {
		padding: 70px 0px;
	}

	.awrapper .container {
		flex-wrap: wrap;
		gap: 20px;
	}

	.flex {
		flex: 1;
	}
}

@media screen and (max-width: 426px) {
	p {
		line-height: 25px;
	}

	.aboutHome .item {
		gap: 15px;
		padding: 25px 12px;
	}

	.aboutHome img {
		width: 60px;
		height: 55px;
	}

	.awrapper {
		height: 30rem;
	}

	.flex {}
}