.chatApp {
    text-align: center;
    max-width: 90%;
    margin: 0 auto;
}

.chatApp header {
    background-color: rgb(40, 37, 53);
    height: 10vh;
    min-height: 50px;
    color: white;
    position: fixed;
    width: 100%;
    max-width: 90%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 99;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 7rem;
}

.chatApp section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    background-color: rgb(40, 37, 53);
}

.messageMain {
    padding: 10px;
    height: 80vh;
    margin: 26vh 0 10vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.messageMain::-webkit-scrollbar {
    width: 0.25rem;
}

.messageMain::-webkit-scrollbar-track {
    background: #1e1e24;
}

.messageMain::-webkit-scrollbar-thumb {
    background: #6649b8;
}

.messageForm {
    height: 10vh;
    position: fixed;
    bottom: 0;
    background-color: rgb(24, 23, 23);
    width: 100%;
    max-width: 90%;
    display: flex;
    font-size: 1.5rem;
}

.messageForm .signInButton {
    width: 20%;
    background-color: rgb(56, 56, 143);
}


.messageInput {
    line-height: 1.5;
    width: 100%;
    font-size: 1.5rem;
    background: rgb(58, 58, 58);
    color: white;
    outline: none;
    border: none;
    padding: 0 10px;
}

.signInButton {
    background-color: #282c34;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: 1.25rem;
}

.signInButton:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}


.sign-in {
    color: #282c34;
    background: white;
    max-width: 400px;
    margin: 0 auto;
}

.sign-out {
    margin: 0;
}

.submitButton {
    margin: 0px;
    width: 150px;
    font-size: 14px;
}



ul, li {
    text-align: left;
    list-style: none;
}

.chatPara {
    max-width: 50%;
    margin-bottom: 18px;
    line-height: 24px;
    padding: 10px 20px;
    border-radius: 15px 15px 0px 15px;
    position: relative;
    color: white;
    text-align: center;
}

.message {
    display: flex;
    align-items: center;
}


.sent {
    flex-direction: row-reverse;
}

.sent p {
    color: white;
    background: #6c63ff;
    align-self: flex-end;
    font-size: 16px;
}

.received p {
    background: #e5e5ea;
    color: black;
    border-radius: 15px 15px 15px 0px;
    font-size: 16px;
}

.avatarImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 2px 5px;
}

@media only screen and (max-width: 768px) {
    .chatApp {
        max-width: 100%;
        z-index: 1000;
    }

    .chatApp header {
        max-width: 100%;
        margin-top: 4rem;
        background: #6c63ff;
    }

    .messageForm {
        max-width: 100%;
    }

    .messageMain {
        margin-bottom: 0;
    }

    .messageInput {
        font-size: 16px;
        padding: 9px 12px;
    }

}